<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragement::headImport"></head>
<title>ERROR</title>
<body class="">
<div class="page">
    <div class="page-content">
        <div class="container text-center">
            <div class="display-1 text-muted mb-5"><i class="si si-exclamation"></i> 404</div>
            <h1 class="h2 mb-3"> 您请求的页面找不到了</h1>
            <p class="h4 text-muted font-weight-normal mb-7">很抱歉对您造成的影响</p>
            <a class="btn btn-primary" href="javascript:history.back()">
                <i class="fe fe-arrow-left mr-2"></i>返回
            </a>
        </div>
    </div>
</div>
</body>
</html>