<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment::headImport"></head>
<title>AllCustomer</title>
<body class="">
<div class="page">
    <div class="page-main">
        <!--顶部右边-->
        <div th:replace="fragment::topBarRight"></div>
        <div th:replace="fragment::topBar(${session.user.type})"></div>
        <div class="my-3 my-md-5">
            <div class="container">
                <div class="row row-cards">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">所有用户</h3>
                                <a th:if="${session.user.type==2}" href="/user/addUserPage"
                                   style="margin-left: 88%"
                                   class="btn btn-primary">添加</a>
                            </div>
                            <div class="table-responsive">
                                <table class="table card-table  table-vcenter">
                                    <thead>
                                    <tr>
                                        <th>姓名</th>
                                        <th>昵称</th>
                                        <th>账号</th>
                                        <th>性别</th>
                                        <th>年龄</th>
                                        <!--<th>操作</th>-->
                                        <th colspan="2">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user:${pageDto.elements}">
                                        <td>
                                            <a th:href="'/user/info/'+${user.id}" th:text="${user.name}"></a>
                                        </td>
                                        <td th:text="${user.nickname}"></td>
                                        <td th:text="${user.account}"></td>
                                        <td th:text="${user.sex==1}?'男':'女'"></td>
                                        <td th:text="${user.age}"></td>
                                        <!--<td class="w-1" title="修改">-->
                                        <!--<a th:href="'/user/info/'+${user.id}" class="btn btn-secondary btn-sm">-->
                                        <!--修改-->
                                        <!--</a>-->
                                        <!--</td>-->
                                        <td class="w-1" title="修改">
                                            <a th:href="'/user/info/'+${user.id}"
                                               class="btn btn-secondary btn-sm">
                                                修改
                                            </a>
                                        </td>
                                        <td class="w-1" title="删除">
                                            <a th:href="'/user/delete/'+${user.id}" class="btn btn-secondary btn-sm">
                                                删除
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div th:replace="fragment::dangerMessage"></div>
                                <nav th:replace="fragment::changePage"></nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="fragment::footer">
    </footer>
</div>
</body>
</html>