<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragement::headImport"></head>
<title>AllPet</title>
<body class="">
<div class="page">
    <div class="page-main">
        <!--顶部右边-->
        <div th:replace="fragement::topBarRight"></div>
        <div th:replace="fragement::topBar(${session.user.type})"></div>
        <div class="my-3 my-md-5">
            <div class="container">
                <div class="row row-cards">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">所有宠物</h3>
                                <a th:if="${session.user.type==2}" href="/pet/addPetPage" style="margin-left: 88%"
                                   class="btn btn-primary">添加</a>
                            </div>
                            <div class="table-responsive">
                                <table class="table card-table  table-vcenter">
                                    <thead>
                                    <tr>

                                        <th colspan="2">宠物名</th>
                                        <th>品种</th>
                                        <th>主人</th>
                                        <th>状态</th>
                                        <th>详细</th>
                                        <th th:if="${session.user.type==2}" colspan="2">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="pet:${pageDto.elements}">
                                        <td class="w-1">
                                            <span class="avatar" th:if="${pet.picture!=null}"
                                                  th:style="'background-image: url('+ ${pet.picture}+')'"></span>
                                            <span class="avatar" th:if="${pet.picture==null}"
                                                  style="background-image: url('/petimage/default.jpg')"></span>
                                        </td>
                                        <td th:text="${pet.name}"></td>
                                        <td th:text="${pet.breed}">拉布拉多</td>
                                        <td th:if="${pet.masterId!=null}">
                                            <p th:if="${session.user.type==1}"
                                               th:text="${pet.masterNickname}">
                                                张哥</p>
                                            <a th:if="${session.user.type==2}"
                                               th:text="${pet.masterNickname}"
                                               th:href="'/user/info/'+${pet.masterId}">
                                                张哥</a>
                                        </td>
                                        <td th:if="${pet.masterId==null}">
                                            无
                                        </td>
                                        <td th:if="${pet.status==1}" th:text="领养中">待领养</td>
                                        <td th:if="${pet.status==2}" th:text="寄养中">待领养</td>
                                        <td th:if="${pet.status==3}" th:text="无">待领养</td>
                                        <td>
                                            <a th:href="'/pet/info/'+${pet.id}">查看</a>
                                        </td>
                                        <div th:if="${session.user.type==2}">
                                            <td class="w-1" title="修改">
                                                <a th:href="'/pet/info/'+${pet.id}" class="btn btn-secondary btn-sm">
                                                    修改
                                                </a>
                                            </td>
                                            <td class="w-1" title="删除">
                                                <a th:href="'/pet/delete/'+${pet.id}" class="btn btn-secondary btn-sm">
                                                    删除
                                                </a>
                                            </td>
                                        </div>
                                    </tr>
                                    </tbody>
                                </table>
                                <div th:replace="fragement::dangerMessage"></div>
                                <nav th:replace="fragement::changePage"></nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="fragement::footer">
    </footer>
</div>
</body>
</html>