<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment::headImport"></head>
<title>Appointment</title>
<body class="">
<div class="page">
    <div class="page-main">
        <!--顶部右边-->
        <div th:replace="fragment::topBarRight"></div>
        <div th:replace="fragment::topBar(${session.user.type})"></div>
        <div class="my-3 my-md-5">
            <div class="my-3 my-md-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card card-profile">
                                <div class="card-header"
                                     style="background-image: url(/demo/photos/ales-krivec-107499-500.jpg);"></div>
                                <div class="card-body text-center">
                                    <!--显示自己头像-->
                                    <img th:if="${doctorExp!=null&&doctorExp.doctor.pic!=null}" class="card-profile-img"
                                         style="width: 100px;height:100px;" th:src="${doctorExp.doctor.pic}">

                                    <!--根据男女显示-->
                                    <img th:if="${doctorExp!=null&&doctorExp.doctor.pic==null&&doctorExp.doctor.sex!=null}"
                                         style="width: 100px;height:120px;" class="card-profile-img"
                                         th:src="'/doctorimage/'+ ${doctorExp.doctor.sex}+'.jpg'">

                                    <!--默认显示-->
                                    <img th:if="${doctorExp==null||(doctorExp.doctor.pic==null&&doctorExp.doctor.sex==null)}"
                                         style="width: 100px;height:100px;" class="card-profile-img"
                                         src="/doctorimage/1.jpg">
                                    <h3 class="mb-3" th:text="${doctorExp!=null?doctorExp.doctor.name:''}">Peter
                                        Richards</h3>
                                    <div class="ml-auto" th:if="${doctorExp!=null&&(session.user.type==2)}">
                                        <a th:onclick="|openUploadStaffPic(${doctorExp.doctor.id})|"
                                           class="btn btn-primary">
                                            <i class="fe fe-plus"></i>
                                            更新图片
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <form class="card" action="/appointment/order" method="post">
                                <div class="card-header">
                                    <h3 class="card-title">预约</h3>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <input type="text" th:if="${doctorExp!=null}" name="doctorId"
                                               th:value="${doctorExp.doctor.id}" hidden>
                                        <div class="col-sm-5 col-md-5">
                                            <div class="form-group">
                                                <label class="form-label">宠物</label>
                                                <select name="petId" class="form-control custom-select">
                                                    <option th:each="pet:${myPets}" th:value="${pet.id}">
                                                        [[${pet.name}]]
                                                    </option>
                                                </select>
                                            </div>
                                        </div>

                                        <input type="number" class="form-control" name="price" id="totalPrice"
                                               required="required" hidden="hidden"/>
                                        <div class="col-sm-5 col-md-5">
                                            <div class="form-group">
                                                <label class="form-label">项目</label>
                                                <select name="diseaseId" id="disease" onchange="change()"
                                                        class="form-control custom-select">
                                                    <option th:each="disease:${diseases}" th:value="${disease.id}"
                                                            th:price="${disease.price}">
                                                        [[${disease.name}]]
                                                    </option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-sm-5 col-md-5">
                                            <div class="form-group">
                                                <label class="form-label">医生价格</label>
                                                <input type="number" class="form-control"
                                                       th:value="${doctorExp.doctor.price}" id="doctor" disabled/>
                                            </div>
                                        </div>
                                        <div class="col-sm-5 col-md-5">
                                            <div class="form-group">
                                                <label class="form-label">项目价格</label>
                                                <input type="number" id="diseasePrice" class="form-control" disabled/>
                                            </div>
                                        </div>
                                        <div class="col-sm-5 col-md-5">
                                            <div class="form-group">
                                                <label class="form-label">总价格</label>
                                                <input type="number" class="form-control" id="price"
                                                       disabled required="required"/>
                                            </div>
                                        </div>

                                        <div class="col-sm-5 col-md-5">
                                            <div class="form-group">
                                                <label class="form-label">我的余额</label>
                                                <input type="number" class="form-control" id="money"
                                                       disabled th:value="${packet.surplusMoney}"/>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="card-footer text-right">
                                    <input type="submit" value="提交" id="submit" class="btn btn-primary">
                                </div>

                                <script>
                                    function change() {
                                        debugger;
                                        let diseasePrice = $('#disease option:selected').attr('price');

                                        //改变病症价格
                                        let disease = document.getElementById('diseasePrice');

                                        disease.setAttribute("value", parseFloat(diseasePrice));
                                        let doctorPrice = document.getElementById('doctor').getAttribute("value");
                                        let displayPrice = document.getElementById('price');

                                        //改变总价格
                                        displayPrice.setAttribute("value", parseFloat(doctorPrice) + parseFloat(diseasePrice));

                                        document.getElementById('totalPrice').setAttribute("value", parseFloat(doctorPrice) + parseFloat(diseasePrice))
                                        let money = document.getElementById('money').getAttribute("value");
                                        if (money < parseFloat(doctorPrice) + parseFloat(diseasePrice)) {
                                            document.getElementById('submit').setAttribute("disabled", "disabled");
                                        } else {
                                            document.getElementById('submit').removeAttribute("disabled");
                                        }

                                    }

                                </script>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="fragment::footer">
    </footer>
</div>
</body>
</html>