<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment::headImport"></head>
<title>MyApply</title>
<body class="">
<div class="page">
    <div class="page-main">
        <!--顶部右边-->
        <div th:replace="fragment::topBarRight"></div>
        <div th:replace="fragment::topBar(${session.user.type})"></div>
        <div class="my-3 my-md-5">
            <div class="container">
                <div class="row row-cards">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">我的申请</h3>
                            </div>
                            <div class="table-responsive">
                                <table class="table card-table  table-vcenter">
                                    <thead>
                                    <tr>
                                        <th>被申请者</th>
                                        <th>申请类别</th>
                                        <th>处理状态</th>
                                        <th>处理结果</th>
                                        <th>申请时间</th>
                                        <th>处理时间</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="applyExp:${pageDto.elements}">
                                        <td th:if="${applyExp.apply.type!=3}">
                                            <!--申请宠物-->
                                            <a th:href="'/pet/info/'+${applyExp.pet.id}" th:text="${applyExp.pet.name}"
                                               href="#">张哥</a>
                                        </td>
                                        <td th:if="${applyExp.apply.type==3}">
                                            <!--申请工作人员-->
                                            <a th:href="'/staff/info/'+${applyExp.staff.id}"
                                               th:text="${applyExp.staff.name}"
                                               href="#">张哥</a>
                                        </td>
                                        <th th:if="${applyExp.apply.type==1}">领养</th>
                                        <th th:if="${applyExp.apply.type==2}">寄养</th>
                                        <th th:if="${applyExp.apply.type==3}">预约</th>
                                        <th th:text="${applyExp.apply.handle==1?'未处理':'已处理'}">处理状态</th>
                                        <th th:text="${applyExp.apply.reply==1?'同意':'拒绝'}">处理结果</th>
                                        <th th:text="${#dates.format(applyExp.apply.gmtCreated,'yyyy-MM-dd HH:mm:ss')}">
                                            申请时间
                                        </th>
                                        <th th:text="${#dates.format(applyExp.apply.gmtModified,'yyyy-MM-dd HH:mm:ss')}">
                                            处理时间
                                        </th>
                                    </tr>
                                    </tbody>
                                </table>
                                <nav th:replace="fragment::changePage"></nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="fragment::footer">
    </footer>
</div>
</body>
</html>